#main {
	padding-top: 2rem;
}

#main #title {
	margin-bottom: 0.35rem;
	padding: 0 1rem;
}

#main input {
	width: 95%;
	font-size: 1em;
	padding: 0.5rem 0.8rem;
	margin-bottom: 1rem;
	border: none;
	border-radius: 10px;
	background-color: rgba(0, 0, 0, 0.07);
}

.suggestion {
	padding: 1rem 1rem 1rem 0;
	margin-left: 1rem;
	font-size: 1.1rem;
	border-bottom: 0.1px solid var(--color-separator);
}

.suggestion .bi {
	margin-right: 4px;
}

@media (prefers-color-scheme: dark) {
	#main input {
		background-color: rgba(255, 255, 255, 0.07);
	}
	.suggestion {
		border-bottom: 0.1px solid var(--color-separator-dark) !important;
	}
}

#main .textfield {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 1rem;
}